$btn-line-bg: $primary !default;
$btn-line-color: #fff !default;

.btn-line {
  @include btn-line($btn-line-bg, $btn-line-color);
}

.btn-line-inversed {
  @include btn-line($btn-line-color, $btn-line-bg);
}

.btn-line-inversed:hover {
  background-color: $btn-line-bg;
  color: $btn-line-color;
  text-decoration: none;
}